@import '@/styles/vars.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .text-field {
        @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5;
    }
}

html {
    position: relative;
    /* width: 100vw; */
    overflow: hidden;
    overflow-y: visible;
    padding: 0;
    margin: 0;
    height: -webkit-fill-available;
    min-height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}
/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    html {
        /* The hack for Safari */
        min-height: -webkit-fill-available;
    }
}

.frozen {
    overflow-y: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
body {
    h1 {
        color: var(--h1-color);
        font-size: var(--h1-size);
        line-height: var(--h1-leading);
        font-weight: var(--h1-weight);
        font-family: var(--h1-font);
    }

    h2 {
        color: var(--h2-color);
        font-size: var(--h2-size);
        line-height: var(--h2-leading);
        font-weight: var(--h2-weight);
        font-family: var(--h2-font);
    }

    h3 {
        color: var(--h3-color);
        font-size: var(--h3-size);
        line-height: var(--h3-leading);
        font-weight: var(--h3-weight);
        font-family: var(--h3-font);
    }

    h4 {
        color: var(--h4-color);
        font-size: var(--h4-size);
        line-height: var(--h4-leading);
        font-weight: var(--h4-weight);
        font-family: var(--h4-font);
    }

    p,
    body {
        color: var(--p-color);
        font-size: var(--p-size);
        line-height: var(--p-leading);
        font-weight: var(--p-weight);
        font-family: var(--p-font);
    }
}
.global_content *:where(h1, h2, h3, h4, h5, h6) + *:not(:where(h1, h2, h3, h4, h5, h6)),
.global_content *:not(:where(h1, h2, h3, h4, h5, h6)) + *:where(h1, h2, h3, h4, h5, h6) {
    margin-top: 3rem;
}
.global_content *:where(p, ol, ul, blockquote, iframe, img) + *:where(p, ol, ul, blockquote, iframe, img) {
    margin-top: 1.5rem;
}
